<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>BeSaf3</title>
</head>

<body style="background: #275e8e">
<div class="jumbotron text-center" style="background-color: white;">
    <img src="/static/medium.png" style="display:block; margin:auto; margin-top: 50px;">
    <h1 style="color: #275e8e; font-weight: 600">BeSaf3</h1>
    <p style="display:block; margin: auto; color:#275e8e; width:70%;">Improve your driving skills and overall
        safety!</p>
</div>
<div class="d-flex flex-column">
    <form action="/video">
        <input type="submit" value="Start"
               style="display: block; font-size: 16px; margin: auto; margin-bottom: 10px; border: none; border-radius: 10px; width: 140px; height: 40px"/>
    </form>
    <form action="/results">
        <input type="submit" value="Preview results"
               style="display: block; font-size: 16px; margin: auto; margin-bottom: 10px; border: none; border-radius: 10px; width: 140px; height: 40px"/>
    </form>
</div>
<div style="background: white; width: 100%; position: fixed; bottom: 0; left: 0">
    <h3 style="text-align: center; font-size: 18px; color: #275e8e; padding: 10px">Copyright © BeSafe</h3>
</div>
</body>

</html>